/* Animación de entrada sutil pero cortante */
@keyframes fadeInSharp {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes pulse {
    from { height: 10px; opacity: 0.5; }
    to { height: 40px; opacity: 1; }
}

/* Animación borde debajo Spotify */
.sp-border-bottom-animation {
    transition: all 0.8s;
    border-bottom: 3px solid var(--accent-color);
}
.sp-border-bottom-animation:hover {
    transition: all 0.4s;
    font-size: 15px;
    border-radius: 60%;
}

/* Reproductor */

@keyframes scanLine {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}