/* Animación de entrada sutil pero cortante */
@keyframes fadeInSharp {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes pulse {
    from { height: 10px; opacity: 0.5; }
    to { height: 40px; opacity: 1; }
}

/* Animación borde debajo Spotify */
.sp-border-bottom-animation {
    transition: all 0.8s;
    border-bottom: 3px solid var(--accent-color);
}
.sp-border-bottom-animation:hover {
    transition: all 0.4s;
    font-size: 15px;
    border-radius: 60%;
}

/** ZOOM IN de INSTRUMENTOS **/
@keyframes zoomIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

/* Mostrar el modal */
@keyframes modalReveal {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
