/* assets/css/navbar.css */

.navbar {
    background-color: var(--bg-color) !important;
    border-bottom: 2px solid var(--gray-dark);
    padding: 1rem 0;
    transition: all 0.4s ease;
}

/* El logo/nombre de la banda */
.navbar-brand {
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 1.5rem;
    color: var(--text-color) !important;
    text-transform: uppercase;
}

/* Enlaces del menú */
.nav-link {
    color: var(--gray-light) !important;
    font-size: 0.85rem;
    padding: 0.5rem 1.2rem !important;
    position: relative;
    transition: color 0.2s ease;
}

/* Efecto Hover: Fondo blanco, texto negro (Inversión) */
.nav-link:hover {
    color: var(--bg-color) !important;
    background-color: var(--text-color);
}

/* Botón de Área Privada (Diferenciado) */
.btn-interact {
    border: 1px solid var(--text-color);
    margin-left: 10px;
}

.btn-interact:hover {
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
    background-color: transparent !important;
}

/* Hamburguesa en móvil (Líneas rectas) */
.navbar-toggler {
    border-radius: 0;
    border: 1px solid var(--gray-light);
}