/* Definición de la estética Depresión Sonora */
:root {
    --bg-color: #000000;
    --text-color: #ffffff;
    --accent-color: #ff0000; /* Rojo glitch ocasional */
    --gray-dark: #1a1a1a;
    --gray-light: #bcbcbc;
    --font-main: 'JetBrains Mono', monospace; /* Cambiar aquí la fuente global */
    --border-style: 1px solid #333;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-main), serif;
    overflow-x: hidden;
}