/*********************************/
/************** Merch ************/
/*********************************/

/* Contenedor de imagen de Merch */
.merch-img-container {
    aspect-ratio: 1 / 1; /* Todas las fotos cuadradas */
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.merch-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.merch-card:hover img {
    transform: scale(1.1);
}

/* Etiqueta de estado (Sold Out / Nuevo) */
.badge-merch {
    position: absolute;
    top: 10px;
    left: 10px;
    background: var(--accent-color);
    color: black;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 2px 8px;
    z-index: 10;
    text-transform: uppercase;
}

.badge-merch:contains('SOLD OUT') {
    background: #555;
    color: white;
}

.btn-outline-white {
    border: 1px solid white;
    color: white;
    transition: all 0.3s;
}

.btn-outline-white:hover {
    background: white;
    color: black;
}